body,
html {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.container {
  height: 100%;
  background-color: rgb(190, 190, 11);
  display: flex;
}
.board {
  background-color: black;
  border-radius: 10px;
  padding: 5px;
}
.cell {
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(212, 80, 80);
  color: yellow;
}
.blueCell {
  color: blue;
}
.cell:hover {
  border: 3px solid rgb(9, 255, 0);
}
.board {
  margin: auto;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.row {
  display: flex;
  height: 33%;
  gap: 2px;
}
.cell {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 900;
  font-family: cursive;
}
